/* You can add global styles to this file, and also import other style files */
body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49198");
}

header {
  background-color: #ff66b2;
  padding: 5px;
}

h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #ffe5e5;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}
